# ignore files and folders
#ignore node modules
/node_modules
/system
/vendor



# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# CODEKIT FILES
*.codekit

# ignore all files starting with .
.*
!.eslintrc
!.editorconfig
!.gitignore

!application
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

!css
!js
!images

#composer files
composer.lock

#ci files
contributing.md
readme.rst



 
